# FASTRAN GUI Configuration File
# ------------------------------
# Define the absolute paths to your legacy executables here.
# For security, these files should be read-only for standard users.

fastran_path=C:/Users/User/OneDrive - USU/Desktop/FASTRAN/fastran578f.exe
dkeff_path=C:/Users/User/OneDrive - USU/Desktop/FASTRAN/Material Files/dkeff13.exe